@font-face {
  font-family: 'Akira';
  src: url('../fonts/Akira.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


:root {
  --bg: #000;
  --neon: #ff7a00;
  --text: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Akira', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.7;
}
.glow-text {
  color: #ff6a00;
  text-shadow:
    0 0 5px #ff6a00,
    0 0 10px #ff6a00,
    0 0 20px #ff6a00;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  border-bottom: none;
}

nav a {
  color: var(--neon);
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid var(--neon);
  border-radius: 20px;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease;
}

nav a:hover {
  background-color: var(--neon);
  color: black;

  box-shadow:
    0 0 20px var(--neon),
    0 0 40px var(--neon);


  transform: scale(1.1);
}



img {
  display: block;
  margin: auto;
}

section {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid var(--neon);
  border-radius: 10px;
  transition: 0.3s;
}

section:hover {
  box-shadow: 0 0 20px rgba(255, 122, 0, 0.4),0 0 40px rgba(255, 122, 0, 0.3);
}

h1, h2 {
  color: var(--neon);
  margin-bottom: 15px;
}

p {
  font-family: "Helvetica",sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.skills span:hover {
  font-family: "Helvetica",sans-serif;
  font-size: 18px;
  background-color: var(--neon);
  color: black;
  font-weight: bold;

  box-shadow:
    0 0 15px var(--neon),
    0 0 30px var(--neon),
    0 0 50px var(--neon);


  transform: scale(1.08);
}
.skills span {
  font-family: "Helvetica",sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  border: 1px solid var(--neon);
  border-radius: 25px;
  color: var(--neon);
  cursor: pointer;
  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease;

}


.home-page .glow-name {
  font-family: 'Akira', sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;

  color: #ff6a00;

  text-shadow:
    0 0 5px #ff6a00,
    0 0 10px #ff6a00,
    0 0 20px #ff6a00,
    0 0 40px rgba(255, 106, 0, 0.8);
}

.video-row {
  display: flex;
  justify-content: center;
  gap: 20px;  
}

.video-row video {
  width: 200px;
  border-radius: 12px;
}


img {
  max-width: 100%;
  border-radius: 12px;
  border: 1px;
  
}
.image-wrapper {
  position: relative;
  width: 260px;     
  margin: auto;
}
.image-wrapper img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid var(--neon);
}
.status-badge {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px 18px;
  border-radius: 999px;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  color: white;
  font-size: 14px;

  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff1ee6;

  box-shadow:
    0 0 6px #00ff1ee6,
    0 0 12px #00ff1ee6;
}



.projects {
  display: normal;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.project-card {
  
  padding: 20px;
  border: 1px solid var(--neon);
  border-radius: 14px;
  transition: 0.3s;
}

.project-card h2 {
  color: #f5f5f5;
}

.project-card p{
  font-family: "Helvetica",sans-serif;
  font-weight: bold;
  color:#ffa600;
}
.project-card:hover {
  box-shadow: 0 0 20px var(--neon);
  transform: translateY(-5px);
}


footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid var(--neon);
  margin-top: 40px;
}

.contact-form {
  font-family: "Helvetica",sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  font-family: "Helvetica",sans-serif;
  font-weight: bold;
  font-size: 18px;
  background: transparent;
  border: 1px solid var(--neon);
  padding: 12px;
  border-radius: 8px;
  color: var(--text);
  font-size: 14px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: "Helvetica",sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}


.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 15px var(--neon);
}

/* Send button */
.contact-form button {
  margin-top: 10px;
  padding: 12px;
  background: transparent;
  border: 1px solid var(--neon);
  color: var(--neon);
  cursor: pointer;
  border-radius: 25px;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease;
}


.contact-form button:hover {
  background-color: var(--neon);
  color: black;

  box-shadow:
    0 0 20px var(--neon),
    0 0 40px var(--neon);


  transform: translateY(-5px);
}

.contact-card {
  position: relative;
  width: 280px;
  margin: auto;
}

.profile-img {
  width: 100%;
  border-radius: 20px;
}

.social-float {
  position: absolute;
  right: -100px;       
  top: 50%;
  transform: translateY(-50%);
  
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-float img {
  width: 75px;
  height: 75px;
  cursor: pointer;

  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(0%);
}

.social-icons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%)
          drop-shadow(0 0 8px orange);
}

.social-logo {
  border: none !important;
  border-radius: 12px;
  box-shadow: none;
}
.social-logo:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 8px orange);
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.social-float a:nth-child(1) img { animation: float 3s ease-in-out infinite; }
.social-float a:nth-child(2) img { animation: float 3.5s ease-in-out infinite; }
.social-float a:nth-child(3) img { animation: float 4s ease-in-out infinite; }

@media (max-width: 768px) {
  .social-float {
    position: static;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    transform: none;
  }
}


/* ---------- GALLERY ---------- */
.gallery {
  max-width: 1100px;
  margin: 40px auto;
  padding: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* Gallery card */
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: none;

  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow:
    0 0 20px rgba(255, 123, 0, 0.874),
    0 0 40px rgba(255, 123, 0, 0.874);
}

/* Images */
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
